.node-item .node-content {
  display: flex;
}
.node-item .node-name {
  cursor: pointer;
  color: #9d9d9d;
  font-size: 13px;
  padding: 5px 10px;
  display: flex;
  -webkit-transition: background-color 400ms ease-out, color 400ms ease-out;
  -moz-transition: background-color 400ms ease-out, color 400ms ease-out;
  -o-transition: background-color 400ms ease-out, color 400ms ease-out;
  transition: background-color 400ms ease-out, color 400ms ease-out;
}
.node-item .node-name:hover {
  background-color: #424954;
  color: #fff;
}

.node-item .node-name .node-icon {
  margin-right: 10px;
}
.node-item .node-name .node-icon .icon-folder,
.node-item .node-name .node-icon .icon-folder-open {
  color: #ff9800;
}
.node-item .node-name .node-icon .icon-file {
  color: #009688;
}
.node-item .node-actions {
  display: flex;
  align-items: center;
}
.node-item .node-actions .action-item {
  font-size: 12px;
  width: 25px;
  height: 19px;
  text-align: center;
  vertical-align: middle;
  padding-top: 3px;
  border-radius: 4px;
  cursor: pointer;
}
.node-item .node-actions .action-item:hover {
  background-color: #171a20;
}
.node-item .node-actions .icon-plus {
  color: #4caf50;
}
.node-item .node-actions .icon-remove {
  color: #f44336;
}

.node-item .node-children {
  list-style: none;
  display: none;
}
.node-item .node-children {
  list-style: none;
  padding-left: 20px;
  display: none;
}
.node-item.show-children > .node-children {
  display: block;
}
